<h1>All Notes</h1>

<table class = "table">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Student</th>
    <th>Course</th>
    <th>Semester</th>
  </tr>
 
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.title %></td>
      <td><%= note.body %></td>
      <td><%= "#{note.user.first_name} #{note.user.last_name}" %></td>
      <td><%= note.course_instance.course.course_name %></td>
      <td><%= "#{note.course_instance.semester} #{note.course_instance.year}" %></td>
    </tr>
  <% end %>
</table>