<h1><%= @course_instance.course.course_code %> - <%= @course_instance.course.course_name %></h1>

<h2><%= @note.title %> </h2>

<p> <%= @note.body %> </p>

<% if @note.file.attached? %>
	<% if @note.file.filename.extension == "pdf" %>
		<iframe width = "90%" height= "700" src= <%= rails_blob_path(@note.file, disposition: "file") %>></iframe>
	<% else %>
		<p> Download <%= link_to @note.file.filename.to_s, rails_blob_path(@note.file, disposition: "file") %> </p>
	<% end %>
<% end %>

<p><%= link_to "return", course_instance_path(@course_instance) %></p>