
<h1><%= @group.name %> Group</h1>
<h2>Course Code: <%= @group.course.course_code %></h2>

<h3>Users </h3>
<% if @group.users.length == 0 %> 
	<p> No users! </p>
<% else %>
	<% @group.users.each do |usr| %>
		<p> <%= "#{usr.first_name} #{usr.last_name}" %> </p>
	<% end %>
<% end %>

<% if not @group.users.include? current_user %>
	<%= link_to 'Join Group', group_path(@group), method: :patch %>
<% end %>

<h3> Message Board </h3>
<% if @messages.length == 0 %> 
	<p> No messages! </p>
<% else %>
	<% @messages.each do |msg| %>
		<div> 
			<%= "#{msg.user.first_name} #{msg.user.last_name}" %>:
		    <strong> <%= msg.title %> </strong>
		    <%= msg.text %>
		    <%= msg.created_at %>		
		</div>
	<% end %>
<% end %>

<% if @group.users.include? current_user %>
	<h3> Add Message </h3>
	<%= form_with scope: :message, url: messages_path, local: true do |form| %>
	    <p>
	      <%= form.label :title%><br>
	      <%= form.text_field :title%>
	    </p>

	    <p>
	      <%= form.label :text %> <br>
	      <%= form.text_field :text %>
	    </p>
	   	
	   	<%= form.hidden_field :user_id, :value => current_user.id %>
	   	<%= form.hidden_field :group_id, :value => @group.id %>

	    <p>
	      <%= form.submit %>
	    </p>
	<% end %>
<% end %>