<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col my-auto ">
          <div class="header-content mx-auto">
            <div class="card text-center" style="width: 35rem;">
              <article class="card-body">
                <a href="javascript:history.back()" class ="float-right btn btn-outline-primary">Go Back</a>
                <h4 class="card-title mb-4 mt-1 text-dark float-left" font color="black">Edit Profile</h4>
                <hr>
 
            <%= form_with(model: @user, url: user_path, method: "patch", local: true) do |form| %>
 
            <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@user.errors.count, "error") %> prohibited
                these changes from being saved:
              </h2>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
 
          <div class="field text-dark">
            <%= form.label :first_name, class: 'text-dark' %><br>
            <%= form.text_field :first_name, :required => true, class: 'text-dark'%>
          </div>
 
          <div class="field text-dark">
            <%= form.label :last_name, class: 'text-dark' %><br>
            <%= form.text_field :last_name, :required => true, class: 'text-dark'%>
          </div>
 
          <p class="text-dark">
            <%= form.submit %>
          </p>
 
        <% end %>
         </article>
        </div>
        </div>
        </div>
      </div>
    </div>
</header>