<% if !user_signed_in? %>
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            
            <h1>Welcome to StuddyBuddy, your aid in scholarly success.</h1>
              Login for access to notes, tutors and studdy groups for your courses: 
              <%= link_to "Sign up", new_user_registration_path %> |
              <%= link_to "Login", new_user_session_path %>

          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <h2>Recent Notes</h2>
  <% @activities.each do |activity| %>
  	<div>
		<%= render_activity activity %>
  	</div>
  <%end%>
  <h2>My Courses</h2>

  <% if (current_user.courses.size == 0) %>
  	No courses!
  <% else %>
    <table>
      <tr>
        <th>Course Code</th>
        <th>School</th>
      </tr>
      <% current_user.courses.each do |course| %>
        <tr>
          <td><%= link_to course.course_code, course_path(course) %></td>
          <td><%= course.school.school_name %></td>
          <td><%= link_to "Remove Course", user_path(current_user, rm_course: course.id), method: :patch%> </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <p> <%= link_to 'Add courses', schools_path() %> </p>

  <br>
  <hr>
  for debugging:
    <p> View <%= link_to 'schools', schools_path() %> </p>
    <p> View <%= link_to 'users', users_path() %> </p>
    <p> View <%= link_to 'notes', notes_path() %> </p>
    <p> View <%= link_to 'courses', courses_path() %> </p>
    <p> View <%= link_to 'groups', groups_path() %> </p>
    <p> View <%= link_to 'tutor ads', tutor_ads_path() %></p>

<% end %>



<h2> Browse by School </h2>

<% img_count = 0 %>
<% @schools.each do |skule| %>
  <div> <%= link_to skule.school_name, school_path(skule) %></div> 
  <% source = "http://lorempixel.com/400/200/city/#{img_count}" %>
  <% img_count = img_count + 1 %>
  <%= image_tag(source, :alt=>"rss feed") %>       
<% end %>
<p>  <%= link_to "View all schools (#{@schools_count})", schools_path() %></p>

<h2> Coming soon: Browse by Subject </h2>

<% Course.DEPTS.each do |department| %>
  <div> <%= department %></div>        
        
<% end %>



<h2> Browse All Groups </h2>
<h2> Browse All Tutors </h2>


