<% if !user_signed_in? %>
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">

            <h1>Welcome to StuddyBuddy, your aid in scholarly success.</h1> Login for access to notes, tutors and studdy groups for your courses:
            <%=link_to "Sign up", new_user_registration_path %> |
              <%=link_to "Login", new_user_session_path %>

          </div>
        </div>
      </div>
    </div>
  </header>
  <% else %>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h2>Recent Notes</h2>
                    <ul class="list-group text-center" id="rendered_activity">
                    <% @activities.each do |activity| %>   
                        <%# render_activity(activity, :layout=> "layouts/activity_wrapper") %>
                          <%=render_activity activity %>
                      <%end%>
                        
                      </ul>
                  </div>

                  <div class="col">
                    <h2>My Courses</h2>

                    <% if (current_user.courses.size==0 ) %>
                      No courses!
                      <br/>
                      <%=link_to '<button type="button" class="btn btn-light">Add courses</button>'.html_safe, schools_path() %>
                      <% else %>
                        <table class="table table-light">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Course Code</th>
                              <th colspan="2" scope="colgroup">School</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% current_user.courses.each do |course| %>
                              <tr scope="row">
                                <td>
                                  <%=link_to course.course_code, course_path(course) %>
                                </td>
                                <td>
                                  <%=course.school.school_name %>
                                </td>
                                <td>
                                  <%=link_to "Remove Course", user_path(current_user, rm_course: course.id), method: :patch%>
                                </td>
                              </tr>
                              <% end %>
                          </tbody>
                        </table>

                        <%=link_to '<button type="button" class="btn btn-light">Add courses</button>'.html_safe, schools_path() %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>


            <% end %>
          </div>
        </div>
      </div>
      </div>
    </header>

<section class="carousels">
    <div class="container my-4">

    <hr class="my-4">

    <h2> Browse Schools </h2>
    <!--Carousel Wrapper-->
    <div id="schools-carousel" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="8000">

      <!--Indicators-->
    
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <% img_count = 0 %>
        <% @schools.each do |skule| %>
        <% if ((img_count < 9) and (img_count %3 ==0)) %>
            <% if (img_count == 0) %>
                <div class="carousel-item active">
            <% else  %>
                <div class="carousel-item">
            <% end %>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <% source = "city/city#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @schools[img_count].school_name, school_path(@schools[img_count]) %></h4>
                  <p class="card-text">
                    <%= "#{@schools[img_count].city}, #{@schools[img_count].courses.length} #{@schools[img_count].courses.length == 1 ? 'course' : 'courses'}" %>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <% source = "city/city#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @schools[img_count].school_name, school_path(@schools[img_count]) %></h4>
                  <p class="card-text">
                    <p class="card-text">
                    <%= "#{@schools[img_count].city}, #{@schools[img_count].courses.length} #{@schools[img_count].courses.length == 1 ? 'course' : 'courses'}" %>
                  </p>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <% source = "city/city#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @schools[img_count].school_name, school_path(@schools[img_count]) %></h4>
                  <p class="card-text">
                    <p class="card-text">
                    <%= "#{@schools[img_count].city}, #{@schools[img_count].courses.length} #{@schools[img_count].courses.length == 1 ? 'course' : 'courses'}" %>
                  </p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <% end %>
        <% end %>
        <!--/.First slide-->

       </div>
      <!--/.Slides-->
      <a class="carousel-control-prev" href="#schools-carousel" data-slide="prev" role="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#schools-carousel" data-slide="next" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
     </div>
    <!--/.Carousel Wrapper-->
    <p class="text-center">  <%= link_to "View all schools (#{@schools_count})", schools_path() %></p>

    <h2> Browse Groups </h2>
    <!--Carousel Wrapper-->
    <div id="groups-carousel" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="8000">

      <!--Indicators-->
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <% img_count = 0 %>
        <% @groups.each do |group| %>
        <% if ((img_count < 9) and (img_count %3 ==0)) %>
            <% if (img_count == 0) %>
                <div class="carousel-item active">
            <% else  %>
                <div class="carousel-item">
            <% end %>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <% source = "abstract/abstract#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @groups[img_count].name, group_path(@groups[img_count]) %></h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <% source = "abstract/abstract#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @groups[img_count].name, group_path(@groups[img_count]) %></h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <% source = "abstract/abstract#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @groups[img_count].name, group_path(@groups[img_count]) %></h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <% end %>
        <% end %>
        <!--/.First slide-->

       </div>
      <!--/.Slides-->
      <a class="carousel-control-prev" href="#groups-carousel" data-slide="prev" role="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#groups-carousel" data-slide="next" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
     </div>
    <!--/.Carousel Wrapper-->
    <p class="text-center">  <%= link_to "View all groups (#{@groups_count})", groups_path() %></p>

    <h2> Browse Tutors </h2>
    <!--Carousel Wrapper-->
    <div id="tutor_ads-carousel" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="8000">

      <!--Indicators-->
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <% img_count = 0 %>
        <% @tutor_ads.each do |tutor_ad| %>
        <% if ((img_count < 9) and (img_count %3 ==0)) %>
            <% if (img_count == 0) %>
                <div class="carousel-item active">
            <% else  %>
                <div class="carousel-item">
            <% end %>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <% source = "business/business#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @tutor_ads[img_count].title, tutor_ad_path(@tutor_ads[img_count]) %></h4>
                  <p class="card-text">
                    <%= @tutor_ads[img_count].description.length>90? "#{@tutor_ads[img_count].description[0..90]}..." : @tutor_ads[img_count].description %>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <% source = "business/business#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @tutor_ads[img_count].title, tutor_ad_path(@tutor_ads[img_count]) %></h4>
                  <p class="card-text">
                    <%= @tutor_ads[img_count].description.length>90? "#{@tutor_ads[img_count].description[0..90]}..." : @tutor_ads[img_count].description %>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <% source = "business/business#{img_count}.jpg" %>
                <% img_count = img_count + 1 %>
                <%= image_tag(source, :alt=>"rss feed", :class=>"card-img-top", :alt=>"Card image cap") %>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to @tutor_ads[img_count].title, tutor_ad_path(@tutor_ads[img_count]) %></h4>
                  <p class="card-text">
                    <%= @tutor_ads[img_count].description.length>90? "#{@tutor_ads[img_count].description[0..90]}..." : @tutor_ads[img_count].description %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <% end %>
        <% end %>
        <!--/.First slide-->

       </div>
      <!--/.Slides-->
      <a class="carousel-control-prev" href="#tutor_ads-carousel" data-slide="prev" role="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#tutor_ads-carousel" data-slide="next" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
     </div>
    <!--/.Carousel Wrapper-->
    <p class="text-center">  <%= link_to "View all tutors (#{@tutor_ads_count})", tutor_ads_path() %></p>


   </div>
</div>

</section>