<header class="masthead">
    <div class="container">
      <div class="row h-100" align="center" style="padding-top: 90px; ">
            <div class="col mb-3 " align="center" >
              <div>
<h1>Add a review</h1>

<h2><%= @note.title %></h2>

<%= form_with(model: [ @note, @note.ratings.build ], local: true) do |form| %>
    <p>
      <%= form.label :rating %><br>
      <%= form.number_field :score, :required => true, in: 1.0..5.0, step: 1.0%>
    </p>
    <p>
      <%= form.label :comment %><br>
      <%= form.text_area :review %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>

  </div>
</div>
</div>

        <div class="header-content mx-auto">
      </div>
      </div>
    </header>