
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
          	<div class="container">
              <div class="row">
            	<div class="col">
				<h1>List Of All Tutor Ads</h1>
				<table class="table table-light table-striped" id="myTable">
					<thead class="thead-dark">
 						<tr>
							<th class="text-center" data-sortable="true">Title</th>
							<th class="text-center" data-sortable="true">Offering/Wanted</th>
							<th class="text-center" data-sortable="false">Description</th>
							<th class="text-center"data-sortable="true">Hourly Rate</th>
							<th data-sortable="false"></th>
						</tr>
					</thead>
					<tbody>
					<% @tutor_ads.each do |tutor_ad| %>
						<tr>
							<td class="text-center text-dark" style="width: 120px;vertical-align: middle;"><%= tutor_ad.title %></td>
							<td class="text-center text-dark" style="vertical-align: middle; text-transform: uppercase;"><%= tutor_ad.ad_type %></td>
							<td class="text-dark"><%= tutor_ad.description %></td>
							<td class="text-center text-dark" style="vertical-align: middle;"><%= tutor_ad.hour_rate %></td>
							<td class="text-center text-dark" style="vertical-align: middle; width: 60px;"><%= link_to "View", tutor_ad_path(tutor_ad) %></td>
						</tr>
					<%end%>
					</tbody>
					<%= link_to '<button type="button" class="btn btn-primary">Post to tutoring ads</button>'.html_safe, new_tutor_ad_path %>
				</table>

			    </div>
			   </div>
			  </div>
			</div>
		  </div>
        </div>
      </div>
    </div>
</header>
<script>
$(document).ready(function(){
    $('#myTable').dataTable({
        "bLengthChange": false,
        "iDisplayLength": 5,
        "bFilter": false
    });
});

//window.onload = function() {
  //  if (window.jQuery) {  
        // jQuery is loaded  
    //    alert("Yeah!");
    //} else {
        // jQuery is not loaded
      //  alert("Doesn't Work");
//    }
//}

</script>
