<h1>Post New Tutor Ad</h1>
  <%= form_with scope: :tutor_ad, url: tutor_ads_path, local: true do |form| %>
	  <p>
  		<%= form.label :title, 'Title Of Your Ad' %>
 	  	<%= form.text_field :title %>
	  </P>
	  <p>
	  	<%= form.label :ad_type, 'Type of Ad' %>
		<%= form.radio_button :ad_type, :offering %> Offering
		<%= form.radio_button :ad_type, :wanted %> Wanted
	  </p>
	  <p>
	  	<%= form.label :description, 'Short Description' %>
		<%= form.text_area :description %>
	  </p>
	  <p>
	  	<%= form.label :hour_rate, 'Cost (Hourly)' %>
		<%= form.number_field :hour_rate , step: 0.01%>
	  </p>
	  <p><%= form.submit 'Post' %></p>
  <% end %>

