<header class="masthead">
    <div class="container">
      <div class="row h-100" align="center" style="padding-top: 90px; ">
            <div class="col mb-3 " align="center" >
              <div class="card " align="center" id="shrink">
          <div class="card-body text-dark " align="center">
<h1 class="pt-sm-2 pb-1 mb-0 text-nowrap">Post New Tutor Ad</h1>
  <%= form_with scope: :tutor_ad, url: tutor_ads_path, local: true do |form| %>
  		<div class="form-group" style ="padding-top: 20px;">
            <%= form.label :title, 'Title Of Your Posting' %>
 	  		<%= form.text_field :title, class: 'text-dark form-control' %>
       </div>
	  <div class="form-group">
	  	<%= form.label :ad_type, 'Type of Posting' %>
		<%= form.radio_button :ad_type, :offering %> Offering
		<%= form.radio_button :ad_type, :wanted %> Wanted
	  </div>
	  <div class="form-group float-left">
	  	<%= form.label :description, 'Description' %>
		<%= form.text_area :description %>
	  </div>
	  <div class="form-group float-right">
	  	<%= form.label :hour_rate, 'Cost (Hourly)' %>
		<%= form.number_field :hour_rate , step: 0.1%>
	  </div>
	  <div class="form-group"><%= form.submit 'Post', class: "btn btn-primary" %></div>
  <% end %>
 </div>
</div>
</div>
</div>

        <div class="header-content mx-auto">
      </div>
      </div>
    </header>

