
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 mx-auto">
        <div class="col my-auto">
          
<h2 class="text-center">
<%= @tutor_ad.title %>
</h2>
<table class="table table-light">
	<thead class="thead-dark">
		<tr>
<th class="text-center" style="text-transform: uppercase;">
<%= @tutor_ad.ad_type %>
</th>

<th class="text-center">
<strong>Description:</strong>
<%= @tutor_ad.description %>
</th>
<th class="text-center">
<strong>Rate:</strong>
<%= @tutor_ad.hour_rate %>
</th>
</tr>
</thead>
</table>
<%= link_to '<button type="button" class="btn btn-primary">Back</button>'.html_safe, tutor_ads_path %>
</div>
        </div>
        <div class="header-content mx-auto">
      </div>
      </div>
    </header>

