<p>
<strong>Title:</strong>
<%= @tutor_ad.title %>
</p>

<p>
<strong>Offering/Wanted:</strong>
<%= @tutor_ad.ad_type %>
</p>

<p>
<strong>Description:</strong>
<%= @tutor_ad.description %>
</p>
<p>
<strong>Rate:</strong>
<%= @tutor_ad.hour_rate %>
</p>

<%= link_to "Back to ads", tutor_ads_path %>