<header class="masthead">
  <div class="container">
    <div class="row ">
      <div class="card" style="margin-top: 60px; height: 700px; width: 320px; overflow: auto;" >
        <div class="card-body">
          <div class="col text-dark" align="center">
            <h2>Contact Us</h2>
            <div class="text-left">

              <%= form_with url: sites_contact_us_create_path, local: true do |f| %>

              <div class="form-group">
                <%= f.label :name, class: 'text-dark' %><br />
                <%= f.text_field :name, class: 'text-dark form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :email, class: 'text-dark' %><br />
                <%= f.text_field :email, class: 'text-dark form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :message, class: 'text-dark' %><br />
                <%= f.text_area :message, class: 'text-dark form-control' %>
              </div>
              <div class="actions">
                <%= f.submit "Send", :class => 'btn btn-primary' %>
              </div>
              <% end %>

              <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>

              <% flash.clear %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>