<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" style="line-height: 50px;" >
  <div class = "container "> 
  <a class="navbar-brand " href="/">StudyBuddy</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive ">
    <ul class="navbar-nav nav-hover float-right test" >
          <% if user_signed_in? and current_user %>
          <% name = current_user.first_name %>
          <li class="nav-item">
            <%= link_to name, user_path(current_user),
            { :class=>"nav-link js-scroll-trigger" } %>
          </li>
          <li class="nav-item">
            <%= link_to 'View Ads ', tutor_ads_path,
            { :class=>"nav-link js-scroll-trigger" } %>
          </li>
          <li class="nav-item">
            <%= link_to(' Logout', destroy_user_session_path, method: :delete) %>
          </li>
          
          </ul>
          <form class="form-inline float-right test" style="margin-top: 8px;">
            <input type="search" class="form-control mr-sm-2 " placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary" type="submit" id="nav-search-icon">
              <i class="fa fa-search"></i>
            </button>            
          </form>
          <% else %>
          <li class="nav-item">
            <%= link_to "Sign up ", new_user_registration_path,
            { :class=>"nav-link js-scroll-trigger" } %> 
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path,
            { :class=>"nav-link js-scroll-trigger" } %>
          </li>
      </ul>
          <% end %>
    

  </div>
</div>
</nav>
       
